.account-circle{
margin-right: 10px;
}
.post{
    border-radius: 5px;
    object-fit: contain;
    max-width: 600px;
    background-color:white;
    border: 1px solid lightgray;
    margin: auto;
    /* margin-left: 300px;
    margin-bottom: 45px; */
    margin-top: 45px;
}
.postimage{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post-header{
    padding: 20px;
}
.post-header{
    display: flex;
    align-items: center;
}
.comment{
    padding: 10px;
    font-weight:normal;
}